
    <!-- <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'index' %}">Produits</a></li>
    </ul> -->

<div class=" container-fluid bg-dark">
    <div class="row">
      <nav class="col navbar bg-dark navbar-expand-sm navbar-dark">
        <a href="#" class="navbar-brand">DjangoApp</a>
        <ul class="navbar-nav" >
            <li nav-item active>
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li nav-item>
                <a href="{% url 'index' %}" class="nav-link">Persons</a>
            </li>
            <li nav-item>
                <a href="{% url 'product' %}" class="nav-link">Products</a>
            </li>
            <li nav-item>
                <a href="{% url 'store' %}" class="nav-link">Store</a>
            </li>
            <li nav-item>
                <a href="{% url 'profile' %}" class="nav-link">ProfilStore</a>
            </li>
        </ul>
      </nav>
    </div>
</div>git iniit
