{% extends 'layouts/base.html' %}

{% block title %} Blog {% endblock %}

{% block content %}

    {% load crispy_forms_tags %}

    {% if submitted %}
        <p>Le produit a bien été ajouté</p>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Add a Product </h1>
                    
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }} 
                        <!-- {{form.as_p}} -->
                        <button type="submit" class="btn btn-primary btn-sm mt-3"> Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}